<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <form [formGroup]="addEmpoyeeForm" (ngSubmit)="onSubmit()">
                <div class="card form_input text-center">
                    <div class="row">
                        <div class="col-12 text-center bg-black text-white mb-3">
                            <h2>Add Details</h2>
                        </div>
                        <div class="col-12">
                            <label for="">Employee Id</label>
                            <input type="text" 
                            formControlName="empId"
                            [ngClass]="{ 'is-invalid': submitted && f.empId.errors }"
                             class="form-control w-50 mt-2 mb-2">
                            <div *ngIf="f.empId.errors" class="invalid-feedback">
                                <div *ngIf="f.empId.errors.required">ID is required</div>
                            </div> 
                           
                        </div>
                        <div class="col-12">
                            <label for="">First Name</label>
                            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" formControlName="firstName" class="form-control w-50 mt-2 mb-2">
                            <div *ngIf="f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                <div *ngIf="f.firstName.errors?.minlength">Minimum 3 Character Required</div>
                            </div> 
                        </div>
                        <div class="col-12">
                            <label for="">Last Name</label>
                            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" formControlName="lastName" class="form-control w-50 mt-2 mb-2">
                            <div *ngIf="f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div> 
                        </div>
                        <div class="col-12">
                            <label for="">Email Id</label>
                            <input type="email" [ngClass]="{ 'is-invalid': submitted && f.emilId.errors }" formControlName="emilId" class="form-control w-50 mt-2 mb-2">
                            <div *ngIf="f.emilId.errors" class="invalid-feedback">
                                <div *ngIf="f.emilId.errors.required">Email is required</div>
                                <div *ngIf="f.emilId.errors?.pattern">Invalid Mail Id</div>
                            </div> 
                        </div>
                        <div class="col-12">
                            <label for="">Mobile</label>
                            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.mobileNum.errors }" formControlName="mobileNum" class="form-control w-50 mt-2 mb-2">
                            <div *ngIf="f.mobileNum.errors" class="invalid-feedback">
                                <div *ngIf="f.mobileNum.errors.required">Mobile is required</div>
                                <div *ngIf="f.mobileNum.errors?.pattern">Invalid Number</div>
                            </div> 
                        </div>
                     
                        <div class="col-12">
                            <label for="">Address</label>
                            <input type="text" formControlName="address" class="form-control w-50 mt-2 mb-2">
                        </div>
                        <div class="text-center mt-4 col-12">
                            <button class="btn btn-danger">Create</button>
                        </div>

                    </div>

                </div>

            </form>
            <div class="mt-4 mb-4">
                <p>Form value: {{ addEmpoyeeForm.value | json }}</p>

            </div>


        </div>
    </div>

</div>